.skills__list {
  max-width: 500px;
  width: 95%;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.skills__list-item {
  margin: 0.5em;
  transition: all ease .1s;
  color: white;
}
.skills__list-item:hover{
  scale: 1.2;
  transition: all ease .1s;
}